<html>
    <head>
        {% include "JqueryBundle:Default:include.html.twig" %}
        {% include "JqueryUIBundle:Default:include.html.twig" %}
        {% include "TestBundle:Default:include.html.twig" %}
    </head>
<body>
<div class='header'>
    <h1>Test app drag</h1>
</div>
<div id='friends' class='friends'></div>

<div id='circles' class='circles'></div>
</body>
</html>